{% extends "layouts.master" %}
{% block content %}
<section class="container dawish-page">
  <h1>المفضلة</h1>
  <salla-products-list source="wishlist" limit="24"></salla-products-list>
</section>
{% endblock %}
