{% extends "layouts.master" %}
{% block content %}
<section class="container dawish-page dawish-cart-page">
  <h1>{{ page.title|default('السلة') }}</h1>
  <salla-cart></salla-cart>
</section>
{% endblock %}
