<section class="dawish-trust-strip">
  <div class="container dawish-trust-strip__grid">
    <div><i class="sicon-shipping-fast"></i><span>{{ theme.settings.get('dawish_shipping_text', 'توصيل سريع') }}</span></div>
    <div><i class="sicon-shield-check"></i><span>{{ theme.settings.get('dawish_payment_text', 'دفع آمن') }}</span></div>
    <div><i class="sicon-leaf"></i><span>{{ theme.settings.get('dawish_quality_text', 'منتجات مختارة') }}</span></div>
    <div><i class="sicon-phone"></i><span>{{ theme.settings.get('dawish_support_text', 'دعم ومساعدة') }}</span></div>
  </div>
</section>
