{% extends "layouts.master" %}
{% block content %}
<section class="container dawish-page">
  <h1>{{ page.title|default('نقاط الولاء') }}</h1>
  <salla-loyalty></salla-loyalty>
</section>
{% endblock %}
