{% extends "layouts.master" %}
{% block content %}
<section class="container dawish-page dawish-products-page">
  {% if theme.settings.get('product_index_show_breadcrumbs', true) %}<salla-breadcrumb></salla-breadcrumb>{% endif %}
  <div class="dawish-products-layout">
    <aside class="dawish-products-filters"><salla-filters></salla-filters></aside>
    <main><salla-products-list source="latest" limit="24"></salla-products-list></main>
  </div>
</section>
{% endblock %}
