{% extends "layouts.master" %}
{% block content %}
<section class="container dawish-page"><h1>{{ page.title|default('الماركات') }}</h1><salla-products-list source="brands"></salla-products-list></section>
{% endblock %}
