{% extends "layouts.master" %}
{% block content %}
<section class="container dawish-page"><h1>{{ brand.name }}</h1><salla-products-list source="brands" source-value="{{ brand.id }}"></salla-products-list></section>
{% endblock %}
