{% extends "layouts.master" %}
{% block content %}
<section class="container dawish-page dawish-content-page"><h1>{{ article.title }}</h1><article class="content-entry">{{ article.content|raw }}</article></section>
{% endblock %}
